@page "/menu"
@using GoodHamburger.Shared.Models
@using GoodHamburger.Client.Components
@using GoodHamburger.Client.Services
@using System.Globalization
@inject HttpClient Http
@inject OrderState OrderState
@implements IDisposable


@if (!string.IsNullOrEmpty(OrderState.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show mx-4 mt-3" role="alert">
        <strong>Atenção:</strong> @OrderState.ErrorMessage
        <button type="button" class="btn-close" @onclick="() => OrderState.ClearError()"></button>
    </div>
}

<div class="container-fluid my-5 px-4">
    <div class="row">
        <div class="col-md-8">
            
            <h3 class="mb-4 text-danger fw-bold border-bottom pb-2">🍔 Our Sandwiches</h3>
            <div class="row mb-5">
                @if (menuItems == null)
                {
                    <p>Loading burgers...</p>
                }
                else
                {
                    @foreach (var burger in menuItems.Where(x => x.Type == TypeItem.Hamburger))
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <ItemCard Item="@burger"
                                      OnAddClicked="@(() => OrderState.AddItem(burger))"
                                      IsDisabled="@OrderState.IsItemInOrder(burger.MenuItemId)" />
                        </div>
                    }
                }
            </div>

            <h3 class="mb-4 text-warning fw-bold border-bottom pb-2">🍟 Sides & Drinks</h3>
            <div class="row">
                @if (menuItems != null)
                {
                    @foreach (var extra in menuItems.Where(x => x.Type == TypeItem.Extra))
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <ItemCard Item="extra"
                                      OnAddClicked="() => OrderState.AddItem(extra)"
                                      IsDisabled="OrderState.IsItemInOrder(extra.MenuItemId)" />
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-md-4">
            <CartSummary Order="OrderState.CurrentOrder"
                         OnRemoveItem="OrderState.RemoveItem"
                         OnCancelOrder="OrderState.CancelOrder" />
        </div>
    </div>
</div>

@code {
    private List<MenuItem>? menuItems;

    protected override async Task OnInitializedAsync()
    {
        
        OrderState.OnChange += StateHasChanged;

        try
        {
            
            menuItems = await Http.GetFromJsonAsync<List<MenuItem>>("api/menu");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao carregar menu: {ex.Message}");
        }
    }

    public void Dispose()
    {
        
        OrderState.OnChange -= StateHasChanged;
    }
}